*{
	font-family: Trebuchet MS;
}
.cabecera{
	border: 2px solid #000;
	align-items: center;
	background: linear-gradient(to right, transparent, #949ee9);
	padding: 2%;
}
.cabecera h1{
	font-size: 2em;
	font-weight: 300;
	color: blueviolet;
}
nav {
	margin-top: 20px;
	margin-bottom: 20px;
}
.porfolio{
	display: grid;
	max-width: 1000px;
	margin: 0 auto;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 300px 300px 300px;
	grid-gap: 10px;
}
.porfolio img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.div_menu a{
	border: 2px solid #000;
	padding: 5px 25px 5px 25px;
	margin-right: 5px;
	text-decoration: none;
	color:#fff;
	background-color: #949ee9;
}
.div_menu a:hover{
	background: linear-gradient(to bottom, transparent, #949ee9);	
}
.div_menu a:active{
	background: linear-gradient(to bottom, transparent, #949ee9)!important;	
}
section{
	border: 2px solid #000;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}
section img{
	margin: 0px 10px 0px 10px;
}

footer{
	border: 2px solid #000;
	padding: 25px 0 25px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
footer img{
	width: 20px;
	height: 20px;
}